body {
    font: 22px/1.6 '华文中宋', '仿宋-GB2313', 'Microsoft YaHei', 'Heiti SC', tahoma, arial;
    background-color: #fff;
}

#app {
    position: relative;
}

.head {
    position: absolute;
    top: -20px;
    left: -20px;
}

.main {
    margin-top: 30px;
}

.main h3,
.paper h3 {
    font-size: 30px;
}

.main h3,
.main p {
    padding: 10px 10px 3px 10px;
    text-indent: 2em;
    border-bottom: 1px dashed rgb(209, 44, 44);
}

.main {
    padding: 30px 20px 80px 20px;
    position: relative;
}

.main .title {
    text-align: center;
    padding-bottom: 10px;
}

.main .sign {
    text-align: right;
    bottom: 0;
    right: 20px;
}

.paper {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei";
}

.paper h3,
.paper p,
.paper h4,
.paper label,
.paper span,
.paper div {
    font-weight: 100;
}

.paper h3 {
    text-align: center;
}

#paper-wrap {
    padding: 30px 20px 30px 20px;
}

.item .title {
    font-size: 25px;
}

.checkbox input,
.radio input {
    width: 30px;
    height: 30px;
}

.checkbox label,
.radio label {
    display: block;
}

.checkbox span,
.radio span {
    margin-left: 15px;
}

input[type="radio"i],
input[type="checkbox"i] {
    background-color: #ffffff;
    cursor: default;
    margin: 3px 0.5ex;
    padding: 10px;
    border: #ddd 1px solid;
}

.action {
    width: 100%;
}

.action .btn {
    width: 120px;
}